@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>

<address>
    Rua Pedro Vicente - 625<br />
    Luz, 01109-010<br />
    <abbr title="Telefone">Tel:</abbr>
    (11) 2763-7500
</address>

<address>
    <strong>Autor:</strong>   <a href="mailto:hiraygui@gmail.com">Guilherme</a><br />
</address>