@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fórum de Discussões - IFSP</h1>
    <p class="lead">Ferramenta feita para promover discussões entre aqueles que fazem parte da comunidade IFSP.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Assuntos</h2>
        <p>
            Fique por dentro dos assuntos discutidos pela nossa comunidade!
        </p>
        <p><a class="btn btn-default" href="/Assunto">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tópicos</h2>
        <p>Veja os tópicos que estão sendo comentados!</p>
        <p><a class="btn btn-default" href="/Topico">Saiba mais &raquo;</a></p>
    </div>
</div>