@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Portal de hospedagem online</h1>
    <p class="lead">Veja os quartos disponíveis!</p>
    <p><a href="/Quarto" class="btn btn-primary btn-lg">Marcar consulta &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Estabelecimentos</h2>
        <p>
            Confira os estabelecimentos que fazem parceria com o portal.
        </p>
        <p><a class="btn btn-default" href="/Estabelecimento">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cidades</h2>
        <p>Veja quais cidades você pode fazer reservas!</p>
        <p><a class="btn btn-default" href="/Cidade">Saiba mais &raquo;</a></p>
    </div>
</div>