@{
    ViewBag.Title = "Home Page";
}

@Html.ExibeFrase()

@Html.ExibeImagens()


<h3>Encontre o estabelecimento desejado aqui!</h3>
<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label class="pl-3">Categoria</label>
            <div class="pl-2 pr-4">@Html.DropDownList("Categoria")</div>
        </div>
        <div class="form-group">
            <label class="pl-3">Cidade</label>
            <div class="pl-2 pr-4">@Html.DropDownList("Cidade")</div>
        </div>
        <button type="button" id="pesquisar" class="btn btn-success">Pesquisar</button>
        <br /><br />
    </form>
</div>
<div class="row-cols-1">
    <div id="resultados"></div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#pesquisar").on("click", function () {
                var pesquisa = { IdCategoria: $("#Categoria").val(), IdCidade: $("#Cidade").val() };

                $.getJSON("/home/pesquisar", pesquisa, function (data) {
                    var resultados = $("#resultados");
                    resultados.empty();

                    if (data.length == 0) {
                        resultados.append('<div class="alert alert-warning">Não encontramos nenhum estabelecimento.</div>');
                        return false;
                    }

                    for (var i = 0; i < data.length; i++) {
                        resultados.append('<div class="alert alert-success">' +
                            '<h4><b>' + data[i].NomeComercial + '</b></h4>' +
                            '<p class="m-0"><b> CNPJ: </b>' + data[i].CNPJ + '</p>' +
                            '<p class="m-0"><b> Endereço: </b>' + data[i].Endereco + '</p>' +
                            '<p class="m-0"><b> Telefone: </b>' + data[i].Telefone + '</p>' +
                            '<p class="m-0"><b> Site: </b>' + data[i].Site + '</p>' +
                            '</div>');
                    }
                });
            });
        });
    </script>
    } 