@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clínica Médica do Mar Celo</h1>
    <p class="lead">Marque já a sua consulta!</p>
    <p><a href="/Consulta" class="btn btn-primary btn-lg">Marcar consulta &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Especialidades</h2>
        <p>
            Veja quais são as especialidades em que nossos médicos são formados e marque sua consulta!
        </p>
        <p><a class="btn btn-default" href="/Especialidade">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Médicos</h2>
        <p>Conheça os médicos que fazem parte da equipe da Clínica Médica do Mar Celo</p>
        <p><a class="btn btn-default" href="/Medico">Saiba mais &raquo;</a></p>
    </div>
</div>